<div class="container">
    <h3 class="header">Live Chat</h3>
    <div class="chat-container">
        <div class="message-container">
            <div *ngFor="let msg of messages">
                <span>{{msg.sender}}: {{msg.content}}</span>
            </div>
        </div>
        <div class="message-enter-box">
            <form [formGroup]="addMessageForm" (ngSubmit)="addMessage()">
                <input class="input-message" type="text" formControlName="message">
                <span><button class="btn btn-success" type="submit">Send</button></span>
            </form>
        </div>
    </div>
</div>