<div>
    <h3>User Description</h3>
    <div>
        {{userDescription}}
    </div>
    <div *ngIf="userAccess && !editAllowed">
        <button class="btn btn-default" (click)="editDescription()"> Edit Description </button>
    </div>
    <div *ngIf="editAllowed">
        <form (ngSubmit)="submitDescription()">
            <label>Write something about you</label>
            <div class="form-group">
                <input type="text" [(ngModel)]="editedDescription" name="userBiography">
            </div>
            <button type="submit" class="btn btn-default">Edit</button>
        </form>
    </div>
    <hr>
    <h3>Top posts</h3>
    <div *ngIf="articles.length !== 0">
        <div *ngFor="let post of articles">
            <h4>{{post.title}}</h4>
            <div>{{post.content}}</div>
            <span>There are {{post.vote}} points for this post</span>
        </div>
    </div>
    <div *ngIf="articles.length === 0">There are no posts yet!</div>
</div> 