<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SocNet</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/articles" routerLinkActive="active">Articles</a></li>
        <li><a routerLink="/users" routerLinkActive="active">Authors</a></li>
        <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="/liveChat" routerLinkActive="active">Live Chat</a></li>     
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggedIn()"><a>{{username}}</a></li>
        <li *ngIf="authService.loggedIn()"><a (click)="goToProfile()">{{username}}</a></li>
        <li *ngIf="authService.loggedIn()"><a routerLink="/messages" 
          routerLinkActive="active"><span>Messages({{unreadMessages}})</span></a></li>
        <li *ngIf="!authService.loggedIn()"><a routerLink="/login" routerLinkActive="active">Login</a></li>        
        <li *ngIf="authService.loggedIn()"><a href (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>