button {
    margin-bottom: 3px;
    margin-top: 3px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

div.profile-userpic {
     width: 150px;
     height: 150px;
     border: 2px solid lightgray;
     border-radius: 5px;
     position: relative;
     overflow: hidden;
 }
img.cropped {
    max-width: 100%;
    max-height: 100%;
}

warning-button {
    margin-left: 10px;
}

.profile-userbuttons button {
    display: block;
    max-width: 150px;
    width: 100%;
}

.uploadButton {
    border: 2px solid green;
    background-color: green;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: white;
}

.hideInput {
    position: absolute;
    visibility: hidden;
}