<div class="container">
    <div *ngIf="articles.length === 0">No user articles</div> 

    <div *ngIf="articles.length > 0">
        <div *ngFor="let article of articles" (click)="showArticle(article._id)">
            <h3>{{article.title}}</h3>
            <div>
                <span>Category: {{article.category.name}} </span>
                <span style="margin-left: 20px"> Rating: {{article.vote}} stars</span>
            </div>
            <div>{{article.content | sliceArticleContent}}</div>
            <div><i>Published at: {{article.published_at | date:'shortDate'}}</i></div>
        </div>
    </div>
</div>