<div class="container">
    <h2>{{article.title}}</h2>
    <h4>Publisher: {{publisher.firstName }} {{publisher.lastName}}</h4>
    <div>
        {{article.content}}
    </div>
    <div>
        <span>Rating: {{article.votes.length}} stars. | </span>
        <span *ngIf="hasVoted">Dislike: </span>
        <span *ngIf="!hasVoted">Like: </span>        
        <input type="checkbox" [(ngModel)]="vote">
        <button class="btn btn-primary" (click)="voteForArticle()">Vote</button>
    </div>
    <div>Published on: {{article.published_at | date:'shortDate'}}</div>
</div>